@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  background: #fff;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(270.13deg, #3B0377 12.06%, #1D013B 108.66%);
  padding: 0px 80px;
  height: 100px;
}

.header .logo {
  font-size: 3rem;
  font-weight: 600;
  color: white;
}

.menu-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  display: none;
}

.header li{
  list-style: none;
  margin-right: 60px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.header .contact {
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid #F34CCF;
  cursor: pointer;
  margin: 0px;
}




.main-box {
  display: flex;
  flex: 1;
  background: linear-gradient(270.13deg, #3B0377 12.06%, #1D013B 108.66%);
  padding: 80px 80px 0 80px;
}


.main-box .motto {
  font-size: 80px;
  font-weight: 600;
  color: white;
}

.main-box .description{
  font-size: 24px;
  font-weight: 400;
  color: white;
  width: 70%;
}

.description button{
  font-size: 20px;
  font-weight: 500;
  color: black;
  background:#F34CCF;
  border: none;
  border-radius: 18px;
  margin: 30px 0px;
  padding: 15px 30px;
  cursor: pointer;
}


.illustration {
  min-width: 500px;
}

.illustration1 {
  width: 550px;
  margin-left: -100px;
  margin-bottom: -60px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.curved-bottom {
  z-index: 1;
  margin-top: -400px;
}




.section2 {
  margin: 100px 80px;
  box-shadow: 0px 5px 25px rgba(33, 33, 33, 0.15);
  border-radius: 20px;
  padding: 30px 20px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.section2 p {
 font-size: 25px;
 font-weight: 600;
 align-self: center;
}

.companies {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 80px;
}

.clickup, .dropbox, .elastic{
  border-right: 1px solid rgb(223, 221, 221);
  padding: 20px;
}

.slack {
  padding: 20px;
}

.companies img {
  width: 230px;
}




.services {
  margin: 60px 80px;
}

.services p{
  font-size: 32px;
  color: #27024F;
  font-weight: 500;
}

.services .feature {
  font-size: 60px;
  font-weight: 600;
}

.services-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 40px 0px;
}

.services-list div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: #FFFFFF;
  border: 2px solid #27024F;
  border-radius: 20px;
  padding: 20px;
}

.services-list div img{
  width: 80px;
  margin: 0px 0px 20px 0px;
}

.services-list div button {
  padding: 10px 15px;
  border: 1px solid #27024F;
  background: white;
  border-radius: 10px;
}

.services-list div p{
  font-size: 25px;
  font-weight: 600;
}

.services-list div span {
  font-size: 24px;
}



.works {
  background: linear-gradient(359.76deg, #3B0377 -2.63%, #1D013B 105.4%);
  color: white;
  padding: 100px 0px;
  margin: 80px 0px;
}

.recent-desc {
  margin: 0 80px;
  text-align: left;
  margin-bottom: 30px;
}

.recent-desc .r-works{
  font-size: 50px;
  font-weight: 600;
}

.works p{
  font-size: 25px;
}

.work-list {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 20px;
  text-align: left;
  margin: 0 80px;
}

.work-list div {
  background: white;
  border-radius: 10px;
  padding: 15px;
  color: black;
}

.work-list div img{
  border-radius: 10px;
  width: 350px;
}

.work-list div p{
  font-size: 24px;
  font-weight: 600;
  margin: 5px 0px;
}

.work-list div span{
  font-size: 20px;
  font-weight: 400;
}

.work-list .view {
  font-size: 20px;
  margin-top: 30px;
  text-align: right;
  color: #27024F;
  cursor: pointer;
}

.works .feature {
  font-size: 40px;
  font-weight: 600;
}




.section4 {
  margin: 80px 0px;
}

.about-desc {
  margin: 10px 80px;
  text-align: left;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.about-desc .text2 {
  font-size: 60px;
  line-height: 73px;
  font-weight: 600;
  font-stretch: condensed;
  text-align: left;
}

.about-text p{
  text-align: left;
  margin-bottom: 20px;
}

.about-box {
  margin: 0 80px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.about-box p{
  font-size: 30px;
  font-weight: 400;
}

.about-box .discover{
  font-size: 25px;
  font-weight: 500;
  color: #27024F;
}

.about-boxes {
  display: flex;
  gap: 15px;
}

.boxes-about1, .boxes-about2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;
}

.boxes-about1 div{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  color: #27024F;
  width: 220px;
  height: 220px;
}

.boxes-about2 div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  color: #27024F;
  width: 220px;
  height: 220px;
}

.boxes-about1 div p{
  font-size: 25px;
  font-weight: 600;
}

.boxes-about2 div p{
  font-size: 25px;
  font-weight: 600;
}

.boxes-about2 {
  margin-top: 30px;
}



.testimonials {
  margin: 80px;
}

.testimonials .testimonials-head {
  margin: 50px 0px;
}

.testimonials .testimonials-head p{
 font-size: 32px;
 font-weight: 500;
}

.testimonials .testimonials-head .testimonials-header {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.5;
}


.blog {
  margin: 80px;
}

.blog .blog-head {
  margin: 50px 0px;
}

.blog .blog-head p{
 font-size: 32px;
 font-weight: 500;
}

.blog .blog-head .blog-header {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.5;
}

.blog-posts {
  display: flex;
}

.blog-list {
  display: flex;
  flex-direction: column;
}

.blog-post1, .blog-post2, .blog-post3, .blog-post4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  width: 50%;
  border-radius: 20px;
  border: 1px solid  #27024F;
  margin: 10px;
}


.blog-post1, .blog-post2, .blog-post3, .blog-post4  p {
  font-size: 28px;
  text-align: left;
  font-weight: 500;
}

.blog-list img{
  border-radius: 20px;
}


.contactBottom {
  width: 800px;
  height: 180px;
  background: white;
  box-shadow: 0px 5px 25px rgba(33, 33, 33, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 80px;
}


.contactBottom p {
  font-size: 50px;
  font-weight: 600;
  color: black;
}

.contactBottom button {
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background: #27024F;
  color: white;
  margin-top: 15px;
}


.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: #27024F;
  padding: 120px 80px;
}

.footer div {
  flex: 1;
  text-align: left;
  color: white;
}

.title-footer {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer div p {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer div li {
  list-style: none;
  font-size: 20px;
  margin-bottom: 10px;
}





@media screen and (max-width:900px) {

  .header {
      padding: 0 20px;
  }

  .header ul {
      display: none;
  }

  .hamburger {
      display: contents;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      color: white;
  }

  .mobile-menu {
    width: 100vw;
    top: 0;
    height: 100vh;
    position: absolute;
    background: white;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition-timing-function: ease-in;
  }


  .menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .menu-list li {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .close {
      font-size: 30px;
      width: 40px;
      height: 40px;
      font-weight: 600;
      background: #27024F;
      color: white;
      margin-bottom: 80px;
      cursor: pointer;
      border: 0;
      position: absolute;
      top: 30px;
      right: 30px;
  }

  .main-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: linear-gradient(270.13deg, #3B0377 12.06%, #1D013B 108.66%);
      padding: 60px 15px;
    }
  
  
  .main-box .motto {
      font-size: 45px;
      line-height: 1.4;
      font-weight: 600;
      color: white;
    }
  
  .main-box .description {
    font-size: 18px;
    line-height: 1.5;
      color: white;
      width: 100%;
    }
    
  .description button{
      font-size: 20px;
      font-weight: 500;
      color: black;
      background:#F34CCF;
      border: none;
      border-radius: 18px;
      margin: 30px 0px;
      padding: 10px 20px;
      cursor: pointer;
    }


    .illustration {
      min-width: 100%;
      display: none;
    }
  
  .illustration1 {
      width: 300px;
      margin: 0px;
      margin-bottom: -100px;
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
  
  .curved-bottom {
    display: none;
    }

    .section2 {
      margin: 100px 15px;
      box-shadow: 0px 5px 25px rgba(33, 33, 33, 0.15);
      border-radius: 20px;
      padding: 30px 20px;
      background: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .section2 p {
     font-size: 25px;
     font-weight: 600;
     align-self: center;
    }

    .companies {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 30px
  }

  .clickup, .dropbox, .elastic, .slack{
      padding: 10px;
      border: 0;
      border-top: 1px solid rgb(224, 224, 224);
  }

  

.services {
  margin: 60px 15px;
}

.services p{
  font-size: 28px;
  color: #27024F;
  font-weight: 500;
}

.services .feature {
  font-size: 45px;
  font-weight: 600;
  line-height: 01;
}

  .services-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      margin: 40px 0px;
  }

  .services-list div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: none;
      height: 380px;
      background: #FFFFFF;
      border: 2px solid #27024F;
      border-radius: 20px;
      padding: 30px;
  }


  .services-list div p {
    font-size: 30px;
    margin: 15px 0;
  }

  .services-list div span {
    font-size: 18px;
  }


.recent-desc {
  margin: 0 15px;
}

.recent-desc .r-works{
  font-size: 45px;
}

.work-list {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 20px;
  text-align: left;
  margin: 0 80px;
}


  .work-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      gap: 20px;
      text-align: left;
      margin: 20px 15px;
  }


  .work-list div p{
    font-size: 26px;
    font-weight: 600;
    margin: 5px 0px;
  }
  
  .work-list div span{
    font-size: 18px;
    line-height: 1.5;
  }
  
  .work-list .view {
    font-size: 20px;
    margin-top: 30px;
    text-align: right;
    color: #27024F;
    cursor: pointer;
  }


  .work-list div img {
      width: 100%;
  }

  .about-desc {
    margin: 10px;
    text-align: left;
    font-size: 32px;
    font-weight: 500;
  }
  
  .about-desc .text2 {
    font-size: 42px;
    line-height: 1.2;
    font-weight: 600;
    font-stretch: normal;
  }
  
  .about-text p{
    text-align: left;
    margin-bottom: 20px;
  }
  
  .about-box {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  
  .about-box p{
    font-size: 18px;
    line-height: 1.5;
  }

  .discover {
    font-size: 10px;
  }

  .about-box {
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .about-boxes {
      flex: 1;
      display: flex;
      gap: 5px;
  }

  .boxes-about1, .boxes-about2 {
      display: flex;
      flex-direction: column;
      gap: 5px;
  }
  
  .boxes-about1 div{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 10px;
      border-radius: 10px;
      text-align: left;
      align-items: center;
      color: #27024F;
      width: 100%;
      height: 200px;
      font-size: 16px;
  }
  
  .boxes-about2 div {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 10px;
      border-radius: 10px;
      text-align: left;
      align-items: center;
      color: #27024F;
      width: 100%;
      height: 200px;
      font-size: 16px;
  }

  .boxes-about1 div p{
    font-size: 20px;
    font-weight: 500;
  }
  
  .boxes-about2 div p{
    font-size: 20px;
    font-weight: 500;
  }
  

  .testimonials {
    margin: 80px 15px;
  }

  .testimonials .testimonials-head {
    margin: 50px 0px;
  }

  .testimonials .testimonials-head p{
  font-size: 25px;
  font-weight: 500;
  }

  .testimonials .testimonials-head .testimonials-header {
    font-size: 45px;
    font-weight: 600;
    line-height: 1;
  }
  .testimonials-map img {
      width: 100%;
      margin: 0;
  }






  
.blog {
  margin: 80px 15px;
}

.blog .blog-head {
  margin: 20px 0px;
}

.blog .blog-head p{
 font-size: 25px;
 font-weight: 500;
}

.blog .blog-head .blog-header {
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
}

.blog-posts {
  display: flex;
}

.blog-list {
  display: flex;
  flex-direction: column;
}

  .blog-posts {
      display: flex;
      flex-direction: column;
  }
  
  .blog-post1, .blog-post2, .blog-post3, .blog-post4 {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: 10px;
      width: 100%;
  }
  
  
  .blog-post1, .blog-post2, .blog-post3, .blog-post4  p {
      font-size: 28px;
      text-align: left;
      font-weight: 500;
  }
  
  .blog-list img{
      border-radius: 20px;
      width: 100%;
  }
  
  .blog-post1, .blog-post2, .blog-post3 {
      border-bottom: 2px solid black;
  }
  
  .blog-post1, .blog-post3 {
      border-right: none;
  }



  
.contactBottom {
  width: 90%;
  background: white;
  box-shadow: 0px 5px 25px rgba(33, 33, 33, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 20px;
}


.contactBottom p {
  font-size: 50px;
  font-weight: 600;
  color: black;
}

.contactBottom button {
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background: #27024F;
  color: white;
  margin-top: 15px;
}


.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  background: #27024F;
  padding: 80px 15px;
  gap: 30px;
}

.footer div {
  flex: 1;
  text-align: left;
  color: white;
}

.title-footer {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer div p {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer div li {
  list-style: none;
  font-size: 20px;
  margin-bottom: 10px;
}

}
